body {
width: 100%;
}

#photos {
    width: 180px;
    height: 80px;
}

#cardStyling {
    margin: 20px;
    padding: 10px;
}

#deleteButton {

    height: 30px;
    background: black;
    color: white;
}