
#home {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: url('/styles/images/palmtrees.jpeg') no-repeat;
}

#guest {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: url('/styles/images/sea.jpeg') no-repeat;
}

#entry {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background: url('/styles/images/palm.jpeg') no-repeat;
}

#photos {
    width: 180px;
}

#cardStyling {
    margin: 20px;
    padding: 10px;
}

#deleteButton {
    height: 30px;
    background: black;
    color: white;
}