
#home {
    background: url('palmtrees.jpeg');
}

#guest {
    background: url('sea.jpeg');
}

#entry {
    background: url('palm.jpeg');
}

#photos {
    width: 180px;

}

#cardStyling {
    margin: 20px;
    padding: 10px;
}

#deleteButton {

    height: 30px;
    background: black;
    color: white;
}